################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/jkl/MyCarsDb/.vs/MyCarsDb
/jkl/MyCarsDb/bin/Debug/net8.0
/jkl/MyCarsDb/obj
